# only the zipped ML_data should be transfered via githug
ML_data/
ML_data_updated/
# docker/NP_predictor.tar

# only selected data / plots from the benchmark should be transfered !
notebooks/
benchmark_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

NP_epitope_predictor_docker_image.tar
